@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-image: url(bg-accueil.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    padding: 50px 50px 30px 50px;
}

h2 {
    font-size: 1em;
}

div {
    padding-left: 50px;
    width: 530px;
    margin: 60px 0;
}

h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.1em;
    margin-left: -5px;
}

p {
    margin: 0;
}

.resume {
    font-size: 0.6em;
    font-weight: 500;
}

hr {
    border-bottom: none;
    border-top: 1px solid black;
    margin: 20px 50px;
}

h3 {
    font-weight: 400;
    margin: 0;
}

table {
    margin: 0 50px;
}

td {
    vertical-align: baseline;
    padding: 0 10px;
}

td:nth-child(even) {
    font-size: 0.7em;
    border-left: 1px solid black;
    padding-left: 5px;
}

td:nth-child(odd) p {
    font-size: 0.5em;
    font-style: italic;
}

@media screen and (max-width: 900px) {
    hr, table {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    h2 {
        display: none;
    }

    body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div {
        padding: 20px;
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 2.5em;
    }
}
