.clients .container .row.align-items-center > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
        background: #535da1;
        padding-top: 0;
        margin-bottom: -93px;
    }

    .hero {
        padding-top: 40px;
    }

    .hero-image-wrap {
        top: 20px;
    }

    .services-thumb {
        margin-bottom: 40px;
    }

    .services-thumb-up {
        bottom: 0;
    }

    h2 {
        font-size: 2.3em;
    }

    .avatar-image {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 600px) {
    .col-4 {
        width: 50%;
    }

    .featured-numbers {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .hero-image {
        top: 80px;
        min-width: 400px;
    }

    .hero-image-wrap {
        width: 320px;
        height: 320px;
        top: 60px;
    }

    .services-icon-wrap {
        bottom: -100px;
    }
}