* {
    box-sizing: border-box;
    /* color: red; */
}

/* * {

}

p {

}

#bonjour {

}

.aurevoir {

} */

/* table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ff0000;
} */

p {
 color: red;
}

p {
    color: blue;
}

.blue {
    color: blue;
}

.bg-blue {
    background-color: blue;
}

#liste {
    list-style: none;
}

#liste li {
    background-image: url(star.png);
    background-repeat: no-repeat;
    background-size: 0.8em 0.8em;
    padding-left: 1em;
    background-position: 0 2px;
}