h1, h2, h3, h4, h5, h6 {
    font-size: 90px;
}

h1 {
    color: #ff0000;
    text-decoration: underline;
}

.blue {
   color: rgb(0, 110, 255); 
}

.blue {
    color: rgb(255, 0, 0); 
 }

#vert:hover {
    color: green;
}

div {
    color: black;
}

#quatre {
    font-size: 30px;
}

.blue p {
  font-style: italic;
}

